.hamburger-menu {
  font-family: "Poppins", serif;
  position: relative;
  top: 10px;
}

.container-header .hamburger-logo {
  position: relative;
  top: 10px;
}

.container-header .hamburger-logo img {
  width: 133px;
  height: auto;
}

.hamburger-menu input[type="checkbox"] {
  display: none;
}
/*Scroll bar main-menu*/
.hamburger-menu .nav-menu ::-webkit-scrollbar {
  width: 4px;
}
.hamburger-menu .nav-menu ::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.hamburger-menu .nav-menu ::-webkit-scrollbar-track {
  background-color: transparent;
}
/*Placeholder*/
.hamburger-menu ::-webkit-input-placeholder {
  color: #ccc;
}
.hamburger-menu ::-moz-placeholder {
  color: #ccc;
}
.hamburger-menu :-ms-input-placeholder {
  color: #ccc;
}
.hamburger-menu :-moz-placeholder {
  color: #ccc;
}

.hamburger-menu nav {
  height: 72px;
  padding: 0 24px;
  justify-content: space-between;
  display: flex;
  z-index: 999;
  position: fixed;
  align-items: center;
  width: 100%;
  background-color: #000;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1), 0 0 36px 0 rgba(0, 0, 0, 0.1);
}
.hamburger-menu nav > div,
.hamburger-menu nav > div > div {
  display: flex;
}
/* System Menu*/
.hamburger-menu .check-control {
  display: none;
}
.hamburger-menu .menu-bt {
  z-index: 9999;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
}
.hamburger-menu .menu-bt:before {
  display: block;
  line-height: initial;
  width: 24px;
  height: 24px;
  font-family: "Material Design Icons";
  font-size: 24px;
  font-weight: normal;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}
.hamburger-menu .menu-bt.right:before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 -0.5 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M6.5 11.75C6.08579 11.75 5.75 12.0858 5.75 12.5C5.75 12.9142 6.08579 13.25 6.5 13.25V11.75ZM18.5 13.25C18.9142 13.25 19.25 12.9142 19.25 12.5C19.25 12.0858 18.9142 11.75 18.5 11.75V13.25ZM6.5 15.75C6.08579 15.75 5.75 16.0858 5.75 16.5C5.75 16.9142 6.08579 17.25 6.5 17.25V15.75ZM18.5 17.25C18.9142 17.25 19.25 16.9142 19.25 16.5C19.25 16.0858 18.9142 15.75 18.5 15.75V17.25ZM6.5 7.75C6.08579 7.75 5.75 8.08579 5.75 8.5C5.75 8.91421 6.08579 9.25 6.5 9.25V7.75ZM18.5 9.25C18.9142 9.25 19.25 8.91421 19.25 8.5C19.25 8.08579 18.9142 7.75 18.5 7.75V9.25ZM6.5 13.25H18.5V11.75H6.5V13.25ZM6.5 17.25H18.5V15.75H6.5V17.25ZM6.5 9.25H18.5V7.75H6.5V9.25Z' fill='%23ffffff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -11%;
}

.hamburger-menu #menu-right:checked + .menu-bt:before {
  color: #fff;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hamburger-menu [id*="menu-"]:checked + .menu-bt:before {
  color: #fff;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hamburger-menu [id*="menu-"]:checked + .menu-bt:before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z' fill='%23ffffff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.hamburger-menu .nav-menu {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 100vh;
  width: 80%;
  max-width: 320px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0), 0 0 32px rgba(0, 0, 0, 0);
}
.hamburger-menu .nav-menu.right {
  -webkit-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}
.hamburger-menu .nav-menu.left {
  -webkit-transform: translate(-100%);
  -ms-transform: translate(-100%);
  -o-transform: translate(-100%);
  transform: translate(-100%);
}
.hamburger-menu [id*="menu-"]:checked ~ .nav-menu {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1), 0 0 32px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
.hamburger-menu .nav-menu.left {
  left: 0;
}
.hamburger-menu .nav-menu.right {
  right: 0;
}
.hamburger-menu .nav-menu h5 {
  /* color: rgba(255, 255, 255, 0.5); */
  color: #df222c;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  padding: 32px 24px 14px 24px;
}
.hamburger-menu .nav-menu h5:after {
  content: "";
  display: block;
  width: 5em;
  margin-top: 5px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.hamburger-menu .nav-menu a {
  display: block;
  color: #fff;
  padding: 14px 8px 14px 58px;
  text-decoration: none;
  position: relative;
  border-radius: 3px;
  margin: 5px 0;
}
.hamburger-menu .nav-menu a:before {
  margin-right: 14px;
  font-size: 24px;
  left: 20px;
  top: 9px;
  position: absolute;
}
.hamburger-menu .nav-menu a span {
  float: right;
  margin-top: -3px;
  border-radius: 10px;
  color: #fff;
  font-size: 0.85em;
  padding: 4px 8px;
}
.hamburger-menu .nav-menu .menu-scroll {
  height: calc(100vh - 72px);
  overflow-y: auto;
  margin-top: 72px;
  padding: 0 8px 24px 8px;
  width: 100%;
  margin-right: 8px;
}

.hamburger-menu .nav-menu.right a.active {
  background-color: #df222c;
}
.hamburger-menu .nav-menu.right a:hover {
  background-color: #df222c;
}

/*Right menu background*/
.hamburger-menu .nav-menu.right {
  background: #222;
}
/*Main menu background*/
.hamburger-menu .nav-menu.left {
  background: #222;
}

/* breakpoint ===============================*/
@media (min-width: 1024px) {
  .container-header .hamburger-logo,
  .hamburger-menu .menu-bt {
    display: none;
  }
}
